<launch>
    <arg name="model" default="burger"/>
    <arg name="x_rpos" default="0.0"/>
    <arg name="y_rpos" default="0.0"/>
    <arg name="z_rpos" default="0.0"/>
    <arg name="x_hpos" default="-4.0"/>
    <arg name="y_hpos" default="0.0"/>
    <arg name="z_hpos" default="0.0"/>
    <arg name="house_model_path"
         default="/home/vadim/robot-simulation/src/turtlebot3_simulations/turtlebot3_my_controller/models/turtlebot3_my_world/model.sdf"/>
    <arg name="brick_model_path"
         default="/home/vadim/robot-simulation/src/turtlebot3_simulations/turtlebot3_my_controller/models/brick/model.sdf"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <param name="robot_description"
           command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_my_$(arg model).urdf.xacro"/>

    <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"
          args="-urdf -model turtlebot3_$(arg model) -x $(arg x_rpos) -y $(arg y_rpos) -z $(arg z_rpos) -param robot_description"/>
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_house"
          args="-sdf -file $(arg house_model_path) -x $(arg x_hpos) -y $(arg y_hpos) -z $(arg z_hpos) -model my_house"/>
<!--    <node pkg="gazebo_ros" type="spawn_model" name="spawn_brick"-->
<!--          args="-sdf -file $(arg brick_model_path) -x -6.55 -y 2.17 -z 0 -model brick"/>-->
</launch>
